  <!-- Section 3: Model House Walkthrough -->
  <section id="walkthrough"
    class="snap-start snap-always scroll-mt-[81px] relative min-h-screen flex flex-col items-center justify-center bg-white">
    <div class="relative z-10 max-w-6xl mx-auto w-full px-2 py-8 flex flex-wrap items-center justify-center">
      <h2 class="text-3xl md:text-4xl font-semibold mb-6 mt-[-1rem] text-center text-green-700 z-20 pt-20">Featured Promos</h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 w-full place-items-center">
        <!-- Card 1 -->
        <div class="shadow-lg flex flex-col w-full min-w-[357px] h-[357px] items-center">
          <a href="https://www.facebook.com/photo?fbid=1216183493855746&set=pcb.1216191727188256">
          <img src="/assets/img/38th-anniversary/14-th48.avif" alt="RCD Royale Homes Mariveles Bataan - Townhouse"
            class="w-[357px] h-[357px] object-cover"></a>
        </div>
        <!-- Card 2 -->
        <div class="shadow-lg flex flex-col w-full min-w-[357px] h-[357px] items-center">
          <a href="https://www.facebook.com/photo?fbid=1216183470522415&set=pcb.1216191727188256">
          <img src="/assets/img/38th-anniversary/13-daffodil.avif" alt="RCD Royale Homes Mariveles Bataan - Daffodil"
            class="w-[357px] h-[357px] object-cover"></a>
        </div>
        <!-- Card 3 -->
        <div class="shadow-lg flex flex-col w-full min-w-[357px] h-[357px] items-center">
          <a href="https://www.facebook.com/photo/?fbid=1216183403855755&set=pcb.1216191727188256">
          <img src="/assets/img/38th-anniversary/12-daphne.avif" alt="RCD Royale Homes Mariveles Bataan - Daphne"
            class="w-[357px] h-[357px] object-cover"></a>
        </div>
        <!-- Card 4 -->
        <div class="shadow-lg flex flex-col w-full w-[357px] h-[357px] items-center">
          <a href="https://www.facebook.com/photo/?fbid=1216183373855758&set=pcb.1216191727188256">
          <img src="/assets/img/38th-anniversary/11-th40.avif" alt="RCD Royale Homes Tuy Batangas - Townhouse"
            class="w-[357px] h-[357px] object-cover"></a>
        </div>
        <!-- Card 5 -->
        <div class="shadow-lg flex flex-col w-full w-[357px] h-[357px] items-center">
          <a href="https://www.facebook.com/photo?fbid=1216183327189096&set=pcb.1216191727188256">
          <img src="/assets/img/38th-anniversary/10-daffodil91.avif" alt="RCD Royale Homes Tuy Batangas - Daffodil"
            class="w-[357px] h-[357px] object-cover"></a>
        </div>
        <!-- Card 6 -->
        <div class="shadow-lg flex flex-col w-full w-[357px] h-[357px] items-center">
          <a href="https://www.facebook.com/photo?fbid=1216183220522440&set=pcb.1216191727188256">
          <img src="/assets/img/38th-anniversary/9-daphne.avif" alt="RCD Royale Homes Tuy Batangas - Daphne"
            class="w-[357px] h-[357px] object-cover"></a>
        </div>
        <!-- Card 7 -->
        <div class="shadow-lg flex flex-col w-full w-[357px] h-[357px] items-center">
          <a href="https://www.facebook.com/photo?fbid=1216183207189108&set=pcb.1216191727188256">
          <img src="/assets/img/38th-anniversary/8-commercial.avif" alt="RCD Royale Homes Balayan Batangas - Commercial Lot"
            class="w-[357px] h-[357px] object-cover"></a>
        </div>
        <!-- Card 8 -->
        <div class="shadow-lg flex flex-col w-full w-[357px] h-[357px] items-center">
          <a href="https://www.facebook.com/photo?fbid=1216183150522447&set=pcb.1216191727188256">
          <img src="/assets/img/38th-anniversary/6-th40.avif" alt="RCD Royale Homes Balayan Batangas - Townhouse"
            class="w-[357px] h-[357px] object-cover"></a>
        </div>
        <!-- Card 9 -->
        <div class="shadow-lg flex flex-col w-full w-[357px] h-[357px] items-center">
          <a href="https://www.facebook.com/photo?fbid=1216183143855781&set=pcb.1216191727188256">
          <img src="/assets/img/38th-anniversary/5-daphne.avif" alt="RCD Royale Homes Balayan Batangas - Daphne"
            class="w-[357px] h-[357px] object-cover"></a>
        </div>
        <!-- Card 10 -->
        <div class="shadow-lg flex flex-col w-full w-[357px] h-[357px] items-center">
          <a href="https://www.facebook.com/photo?fbid=1216183123855783&set=pcb.1216191727188256">
          <img src="/assets/img/38th-anniversary/4-kylee.avif" alt="RCD Royale Homes Silang Cavite - Kylee"
            class="w-[357px] h-[357px] object-cover"></a>
        </div>
        <!-- Card 11 -->
        <div class="shadow-lg flex flex-col w-full w-[357px] h-[357px] items-center">
          <a href="https://www.facebook.com/photo/?fbid=1216953210445441&set=pcb.1216953287112100">
          <img src="/assets/img/promos/2025-38th-anniversary/38y-promo-11.avif" alt="RCD Royale Homes Bulacan - Daphne"
            class="w-[357px] h-[357px] object-cover"></a>
        </div>
          <!-- Card 12 -->
        <div class="shadow-lg flex flex-col w-full w-[357px] h-[357px] items-center">
          <a href="https://www.facebook.com/photo/?fbid=1216953203778775&set=pcb.1216953287112100">
          <img src="/assets/img/promos/2025-38th-anniversary/38y-promo-12.avif" alt="RCD Royale Homes Bulacan - Lot only"
            class="w-[357px] h-[357px] object-cover"></a>
        </div>
        <!-- Card 13 -->
        <div class="shadow-lg flex flex-col w-full w-[357px] h-[357px] items-center">
          <a href="https://www.facebook.com/photo/?fbid=1216953203778775&set=pcb.1216953287112100">
          <img src="/assets/img/promos/2025-38th-anniversary/38y-promo-13.avif" alt="RCD Royale Homes Bulacan - Townhouse"
            class="w-[357px] h-[357px] object-cover"></a>
        </div>
        <!-- Card 14 -->
        <div class="shadow-lg flex flex-col w-full w-[357px] h-[357px] items-center">
          <a href="https://www.facebook.com/photo/?fbid=1216953213778774&set=pcb.1216953287112100">
          <img src="/assets/img/promos/2025-38th-anniversary/38y-promo-14.avif" alt="RCD Royale Homes Bulacan - Townhouse"
            class="w-[357px] h-[357px] object-cover"></a>
        </div>
        
      </div>
      <div class="flex flex-col justify-center mt-10 z-20">
        <a target="_blank" href="mailto:sales@rcdland.com?subject=Book%20A%20Tripping&body=Hi RCD Land,%0A%0AI'd like to know more about your Anniversary Promos.%0A%0ABest regards,%0A" 
          class="inline-block px-10 py-4 bg-yellow-500 hover:bg-green-600 font-bold rounded-full text-2xl text-black transition">
          Book a Tripping
        </a>
      </div>
    </div>
    <div class="absolute inset-0 pb-4 bg-black opacity-10"></div>
  </section>
