  <!-- Section 3: Model House Walkthrough -->
  <section id="walkthrough"
    class="snap-start snap-always scroll-mt-[81px] relative min-h-screen flex flex-col items-center justify-center bg-white">
    <div class="relative z-10 max-w-6xl mx-auto w-full px-2 py-8 flex flex-col items-center">
      <h2 class="text-3xl md:text-4xl font-semibold mb-6 mt-[-1rem] text-center text-green-700 z-20 pt-20">Featured Promos</h2>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8 w-full place-items-center">
        <!-- Card 1 -->
        <div class="bg-white shadow-lg flex flex-col w-full w-[357px] h-[357px] items-center">
          <img src="/assets/img/promos/2025-38th-anniversary/38y-promo-1.jpg" alt="RCD Royale Homes Silang - Single Attached Kylee"
            class="w-[357px] h-[357px] object-cover">
        </div>
        <!-- Card 2 -->
        <div class="bg-white shadow-lg flex flex-col w-full w-[357px] h-[357px] items-center">
          <img src="/assets/img/promos/2025-38th-anniversary/38y-promo-2.jpg" alt="RCD Royale Homes Silang - Daphne"
            class="w-[357px] h-[357px] object-cover">
        </div>
        <!-- Card 3 -->
        <div class="bg-white shadow-lg flex flex-col w-full w-[357px] h-[357px] items-center">
          <img src="/assets/img/promos/2025-38th-anniversary/38y-promo-3.jpg" alt="RCD Royale Homes Balayan - Townhouse"
            class="w-[357px] h-[357px] object-cover">
        </div>
        <!-- Card 4 -->
        <div class="bg-white shadow-lg flex flex-col w-full w-[357px] h-[357px] items-center">
          <img src="/assets/img/promos/2025-38th-anniversary/38y-promo-4.jpg" alt="RCD Royale Homes Balayan - Commercial Lot"
            class="w-[357px] h-[357px] object-cover">
        </div>
        <!-- Card 5 -->
        <div class="bg-white shadow-lg flex flex-col w-full w-[357px] h-[357px] items-center">
          <img src="/assets/img/promos/2025-38th-anniversary/38y-promo-5.jpg" alt="RCD Royale Homes Tuy - Single Attached Daphne"
            class="w-[357px] h-[357px] object-cover">
        </div>
        <!-- Card 6 -->
        <div class="bg-white shadow-lg flex flex-col w-full w-[357px] h-[357px] items-center">
          <img src="/assets/img/promos/2025-38th-anniversary/38y-promo-6.jpg" alt="RCD Royale Homes Tuy - Single Attached Daffodil"
            class="w-[357px] h-[357px] object-cover">
        </div>
        <!-- Card 7 -->
        <div class="bg-white shadow-lg flex flex-col w-full w-[357px] h-[357px] items-center">
          <img src="/assets/img/promos/2025-38th-anniversary/38y-promo-7.jpg" alt="RCD Royale Homes Tuy - Townhouse"
            class="w-[357px] h-[357px] object-cover">
        </div>
        <!-- Card 8 -->
        <div class="bg-white shadow-lg flex flex-col w-full w-[357px] h-[357px] items-center">
          <img src="/assets/img/promos/2025-38th-anniversary/38y-promo-8.jpg" alt="RCD Royale Homes Mariveles - Single Attached Daphne"
            class="w-[357px] h-[357px] object-cover">
        </div>
        <!-- Card 9 -->
        <div class="bg-white shadow-lg flex flex-col w-full w-[357px] h-[357px] items-center">
          <img src="/assets/img/promos/2025-38th-anniversary/38y-promo-9.jpg" alt="RCD Royale Homes Mariveles - Single Attached Daffodil"
            class="w-[357px] h-[357px] object-cover">
        </div>
        <!-- Card 10 -->
        <div class="bg-white shadow-lg flex flex-col w-full w-[357px] h-[357px] items-center">
          <img src="/assets/img/promos/2025-38th-anniversary/38y-promo-10.jpg" alt="RCD Royale Homes Mariveles - Townhouse"
            class="w-[357px] h-[357px] object-cover">
        </div>
      </div>
      <div class="flex justify-center mt-10">
        <a target="_blank" href="mailto:sales@rcdland.com?subject=Book%20A%20Tripping&body=Hi RCD Land,%0A%0AI'd like to know more about your Anniversary Promos.%0A%0ABest regards,%0A" 
          class="inline-block px-10 py-4 bg-yellow-500 hover:bg-green-600 font-bold rounded-full text-2xl text-black transition">
          Book a Tripping
        </a>
      </div>
    </div>
    <div class="absolute inset-0 pb-4 bg-black opacity-10"></div>
  </section>
