  <section id="hero"
    class="snap-start snap-always scroll-mt-[81px] relative min-h-screen flex items-center justify-center snap-start overflow-hidden">
    <!-- Desktop video -->
    <video class="hero-video-desktop absolute inset-0 w-full h-full object-cover z-0"
      src="/assets/vid/38y-promo-deskbg.3.mp4" poster="/assets/img/main-src-imgs/38y-promo-poster.png" autoplay loop muted playsinline></video>
    <!-- Mobile video -->
    <video class="hero-video-mobile absolute inset-0 w-full h-full object-cover z-0"
      src="/assets/vid/38y-promo-mobilebg.3.mp4" poster="/assets/img/main-src-imgs/38y-promo-mobilebg.png" autoplay loop muted playsinline></video>
    <div class="absolute inset-x-0 bottom-0 mb-32 z-0">
      <div class="relative z-10 text-center text-white">
        <a href="mailto:sales@rcdland.com?subject=Book+A+Tripping+-+RCD+Royale+Homes+Commercial+Lots&body=Hi%20RCD%20Land,%0A%0AI%20would%20like%20to%20book%20a%20tripping%20for%20RCD%20Royale%20Homes%20Balayan,%20Batangas!%20Are%20you%20available%20tomorrow%20or%20the%20day%20after?%0A%0AThank%20you!"
          class="inline-block px-10 py-4 bg-yellow-500 hover:bg-green-600 text-black rounded-full text-2xl font-bold transition">Book A Tripping</a>
      </div>
    </div>
  </section>
